.sec1 {
    background-color: #2db62d;
    padding: 35px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0; /* Eliminar cualquier margen */
}

.vision {
    margin-left: 20px; /* Ajusta este valor según sea necesario */
}

.p1, .p2 {
    font-size: 15px;
}

.p1 {
    text-align: center;
}

.p2 {
    text-align: center;
}
